.one{
    width: 100%;
    height: 100vh;
}
.two{
    width: 100%;
    height: 100vh;
}
.cat{
    position:fixed;
    top: 0;
    left: 0;
    background-color: rebeccapurple;
    height: 100%;
    width: 20%;
    
}